<h1>Bobdotcom.biz</h1><p> - version 1.0.01.0111</p>
<hr />
  <div class="main_container">
<% @post.each do |x| %>
<<<<<<< HEAD
=======bdd9<%= x.title %>a5ba4fdca
  <img src="http://www.codeandpen.com/uploads/<%= x.body %>" />
>>>>>>> 17bbdd9a5ba4fd61da35eb26abbca4df8274bc0b
  <% end %>
  </div>
