<html id="<%= @page_id %>" class="<%= @page_class %>">
<head>
  <title>BOBDOTCOM.BIZ | Proven Thought LeaderShip By Proven Thought Leaders | Quality SEO</title>
  <meta name="viewport" content="width=device-width" initial-scale="0" >
  <link rel="icon" type="image/png" href="/images/fobicon.png">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Ideations from leaders of proven thought."/>
  <meta property="og:url" content="http://bobdotbiz.com" />
  <meta property="og:image" content="/images/fb_icon.jpg" />
  <meta property="og:description" content="Quality internet offerings from proven ideation leaders in the filed of ideation offerings." />
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="BOBDOTBIZ.com Proven thought leaders" />
  <link href="/styles/foundation.min.css" rel="stylesheet">
  <link href="/styles/main.css" rel="stylesheet" >
</head>
<body>
<div id="full_container">	
  <%= yield %>
</div>
<script src="/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="/js/foundation.min.js" text="text/javascript"></script>
<script src="/js/main.js" text="text/javascript"></script>
</body>
</html>


