<html>
<head>
  <title>BOBDOTCOM.BIZ</title>
  <link href="/styles/foundation.min.css" rel="stylesheet">
  <link href="/styles/main.css" rel="stylesheet" >
</head>
<body>
<%= yield %>
<script src="/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="/js/foundation.min.js" text="text/javascript"></script>
<script src="/js/main.js" text="text/javascript"></script>
</body>
</html>


