body, html{
  background:transparent;
  font-family: sans-serif;
}
html#admin, html#edit{
	background:black;
}
#admin #full_container, #edit #full_container{
       padding-top:20px;
	width:75%;
	margin:auto;
}
#admin label, #edit label{
  color:green;
}
#admin input[type="text"], #admin input[type="password"], #admin input[type="submit"], #edit input[type="text"], #edit input[type="submit"]{
  background: black;
  border: thin solid green;
  color:green; 
}
#admin input[type="text"]:focus, #admin input[type="password"]:focus, #edit input[type="text"]:focus{
  background: black;
  border: thin solid green;
}
#admin input[type="submit"]{
  margin-top:20px;
  width:100px;
  height:50px;
}
#admin h1, #admin p{
  display:inline-block;
  color:green;
}
#admin hr{
  border: thin solid green;
}
#admin a{
  color:green;
} 
#admin a:hover{
  color:green;
}
.main_container{
  padding:20px;
  margin:auto;
  width:75%;
  max-width:640px;
  white-space:pre-wrap;
}
.main_container img{
  margin:20px 0px;
  width:auto;
  height:auto;
}
table{
  width:100%;
  border:thin solid green;
  background:black;
}
table thead{
  background:black;
}
table thead tr th{
  color:green;
}
table tbody tr{
  background:black;
}
table tbody tr td{
  color:green;
}
table tr.even, table tr.alt, table tr:nth-of-type(even){
  background:black;
}
#admin .button{
  background:green;
  color:black;
}
#admin .button:hover{
  background:green;
  color:black;
}
#admin.main_container{
	width:85%
}
#main{
 background: url(/images/bground.jpg) repeat;
 color:#242424;
}
#main h1{
  color:#242424;
}
#main p{
  color:#242424;
}
#main hr{
  border:#242424 thin solid;
}
